Source: ecid_webgui
Section: unknown
Priority: extra
Maintainer:  <>
Build-Depends: debhelper (>= 7),dpkg-dev,ruby1.9.1-full,libmysqlclient15-dev,libxml2-dev,libxslt-dev,libsqlite3-dev
Standards-Version: 3.7.3
Homepage: 

Package: ecid_webgui
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.9.1-full, git-core, libxml2, libxslt1.1
Description: 
